:root {
  --bg: #282a36;
  --borde: #ff5555;
  --borde-2: #50fa7b;
  --bg-secudario: #44475a;
  --text-color: #f8f8f2;
}

/* Body */
body {
  background-color: var(--bg);
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
}

/* Header menu */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--bg-secudario);
  padding: 1.5rem;
  font-weight: bold;
}

.menu a:hover {
  color: var(--borde);
  transition: ease-out 300ms;
}

/* btn */
#sobre-btn, #portfolio-btn {
  font-size: 13pt;
}

#sobre-btn {
  border-radius: 2rem 0 0 2rem;
}

#portfolio-btn {
  border-radius: 0 2rem 2rem 0;
}

/* Container default */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: var(--bg-secudario);
  width: 960px;
  margin: 0 auto;
  margin-top: 3rem;
  box-shadow: .8rem 2rem 3rem rgba(0 , 0, 0, .5);
}

/* Imagem user */
.img-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-user img {
  width: 14rem;
  height: 14rem;
  margin-top: 1.5rem;
  border-radius: 100%;
  border: solid var(--borde) .6rem;
  box-shadow: .2rem .2rem 1rem rgba(0 , 0, 0, .5);
}

.img-user h1 {
  font-size: 24pt;
  font-weight: bold;
  margin-top: 2rem;
}

/* Descrição */
.desc {
  margin-top: .5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* Social */
.social {
  margin-top: 1rem;
  border-top: .2rem solid var(--text-color);
  padding: 1rem;
}

.desc span {
  color: var(--borde-2);
  font-weight: 600;
}

/* habilidades */
.habilidades h4 {
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1.8rem;
  margin-bottom: .8rem;
}

.habilidades>h4:hover {
  text-decoration: underline;
  text-decoration-color: var(--borde);
}

.habilidades li {
  display: flex;
  text-align: center;
  line-height: 1.8rem;
  justify-content: center;
  font-size: 1.2rem;
}