@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitle {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
  word-break: break-all;
}


@media (max-width: 768px) {
  .subtitle {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
